	<div class="row">
		<div class="col-md-2 col-md-offset-2">
			<%= image_tag(@movie.poster, size: "200") %>
		</div>
		<div class="col-md-6 middle">
			<p class="title"><%= @movie.title %></p> 
			<span><%= @movie.release_date %> </span>
			<p>rating: <%= @movie.rating %></p>
			<h5>Overview: </h5>
			<span><%= @movie.overview %></span>
		</div>
	</div>

