<div class="row">
	<% if @related_movies.any? %>
		<div class="col-md-2" style="margin-top:0px; position:fixed;">
			<h3 class="center" style="margin-top:0px;">Best in This Genre:</h3>
		    <table class="table table-hover">
		      <thead>
		        <tr>
		          <th></th>
		        </tr>
		      </thead>
		      <tbody>
		        <% @related_movies.each do |movie| %>
		          <tr>
		            <td class="center"> <%= link_to(image_tag(movie.poster, size:"80"), movie)  %></td>
		          </tr>
		        <% end %>
		      </tbody>
		    </table>
		</div>
	<% end %>
	<div class="col-md-2 col-md-offset-2" >
		<%= image_tag(@movie.poster, size: "200") %>
		<br/>
		<br/>
		<%= render 'like_form', movie: @movie %>
	</div>
	<div class="col-md-5 middle">
		<p class="title"><%= @movie.title %></p> 
		<span><%= @movie.release_date %> </span>
		<% @movie.genres.each do |gr| %>
		  <span><%= link_to(gr.name.concat(" | "), gr  )%></span>
		<% end %>
		<p style="margin-top:10px">
			<span class="rating">TMDB Rating: <%= @movie.rating %></span>
		</p>
		<h5>Overview: </h5>
		<span><%= @movie.overview %></span>
		<br>
		<ul class="list-unstyled list-inline">
			<% @posters.each do |p| %>
			  <li><%= image_tag(p, size:"100") %></li>
		    <% end %>
		</ul>
		<ul class="list-unstyled list-inline">
			<% @urls.each do |u| %>
			  <li><iframe width="200" height="200" src=<%= "http://www.youtube.com/embed/#{YouTubeAddy.extract_video_id(u)}" %> frameborder="0" allowfullscreen></iframe></li>
			<% end %>
		</ul>
		<div>
			<%= render 'movie_crew', crews: @crews %>			    
		</div>
		<div>
			<%= render 'movie_cast', casts: @casts %>
		</div>
	</div>
</div>

