	<div class="row">
		<div class="col-md-2 col-md-offset-2">
			<%= image_tag(@movie.poster, size: "200") %>
		</div>
		<div class="col-md-6 middle">
			<p class="title"><%= @movie.title %></p> 
			<span><%= @movie.release_date %> </span>
			<p>rating: <%= @movie.rating %></p>
			<h5>Overview: </h5>
			<span><%= @movie.overview %></span>
			<div>
			    <table class="table table-hover">
			      <thead>
			        <tr>
			          <th>Job</th>
			          <th>Name</th>
			        </tr>
			      </thead>

			      <tbody>
			        <% @crews.each do |crew| %>
			          <tr>
			            <td><%= crew.job %></td>
			            <td><%= link_to crew.person.name, crew.person  %></td>
			          </tr>
			        <% end %>
			      </tbody>
			    </table>
			    <table class="table table-hover">
			      <thead>
			        <tr>
			          <th></th>
			          <th>Name</th>
			          <th>Character</th>
			        </tr>
			      </thead>

			      <tbody>
			        <% @casts.each do |cast| %>
			          <tr>
			            <td><%= image_tag(cast.person.profile, size: "50") %></td>
			            <td><%= link_to cast.person.name, cast.person  %></td>
			            <td><%= cast.character %></td>
			          </tr>
			        <% end %>
			      </tbody>
			    </table>			
			</div>
		</div>
	</div>

