<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>

  	<div class="container-fluid">
	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>">
	    <a href="#" data-dismiss="alert" class="close">×</a>
	      <ul>
	        <li>
	          <%= value %>
	        </li>
	      </ul>
	  </div>
	<% end %>
		<%= yield %>
	</div>
</body>
</html>
